[
    {
        "model": "gpt-4o-mini",
        "api_key": "",
        "tags": [
            "gpt-4o-mini",
            "mini"
        ]
    },
    {
        "model": "gpt-4o-latest",
        "api_key": "",
        "tags": [
            "gpt-4o",
            "multimodel"
        ]
    },
    {
        "model": "o1",
        "api_key": "",
        "tags": [
            "o1",
            "multimodel"
        ]
    },
    {
        "model": "o1-mini",
        "api_key": "",
        "tags": [
            "o1",
            "mini"
        ]
    },
    {
        "model": "dall-e-2",
        "api_key": "",
        "tags": [
            "dalle2",
            "image"
        ]
    },
    {
        "model": "dall-e-3",
        "api_key": "",
        "tags": [
            "dalle3",
            "image"
        ]
    },
    {
        "model": "text-embedding-3-large",
        "api_key": "",
        "tags": [
            "embeddings",
            "large"
        ]
    }
]